* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    color: white;
    text-shadow: 5px 5px 10px black;
}

main p{
    font-size: 1vh;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}


/* <!-- HEADER --> */

header{
    /* background-color: rgb(255, 0, 0); */
    background-color:  #133945;/*ES ESTEEEEEEEEEEE*/
    opacity: 0.8;
    position: fixed;
    top: 0; 
    padding-top: 5px;
    height: 8.5vh;
    z-index: 3;
    width: 100%;
    transition: 0.5s all ease-in-out;
}

header:hover{
    opacity: 1;
}

/* <!-- MENU DE NAVEGACION --> */
a{
    text-decoration: none;
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul li{
    /* background-color: aqua; */
    list-style: none;
    font-size: 2.5vh; /*1rem*/
    font-weight: bolder;
    padding: 0.5vh;
    border-radius: 5px;
    transition: 0.5s all ease;
}

nav ul li:hover {
    font-size: 2.7vh;
    background-color: rgb(255, 255, 255, 0.5);
}

.nav_ocu{
    display: none;
}


#logo_img img{
    width: 22vh;
    padding: 0;
    transition: 0.5s all ease;
}

#logo_img img:hover{
    width: 24vh;
}

/* <!-- MAIN --> */
main{
    /* background-color: orange; */
    margin-top: 9vh;
}

/* <!-- SECCION 1 --> */
.redd{
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.8; */
    /* width: 100%; 
    height: 100%;  */
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

/* <!-- ARTICULO PRINCIPAL --> */
#principal {
    background-image: url(../img/principal2.jpg);
    /* background-color: yellow; */
    background-position: center;
    position: relative;
    height: 60vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 1;
}

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s all ease-in-out;
    opacity: 0;
}

#titulos1 {
    position: relative;
    z-index: 1;
    text-align: left;
    margin-left: 20px;
}

#titulos1 h2{
    font-size: 6vh;
}

#principal:hover > #titulos1 p{
    font-size: 3vh;
    margin-bottom: 50vh;
    opacity: 1;
}

#principal:hover .video {
    opacity: 1;
}

/* <!-- SECCION 2 --> */

#seccion2{
    /* background-color: black; */
    margin-top: 5px;
    max-width: 95vw;
    margin: auto;
}
 /*General Articulos*/
article{
    /* background-color: brown ; */
    margin: 1vw;
    border-top: 1px #133945 solid  ;
}

/*general conenedores*/
.contenedores{
    display: flex;
    height: 40vh;
    gap: 1vw;
    /* overflow: hidden; */
    
}

.contenedor{
    /* background-color: yellow; */
    border-radius: 15px;
    align-content: end;
    flex-grow: 1;
    opacity: 0.9;
    /* padding: 10px; */
    width: 30vw;
    height: 35vh;
    transition: 0.5s all ease-in-out;
}
.contenedor:hover {
    width: 60vw;
    height: 40vh;
    opacity: 1;
    align-content: center;
    /* align-content: center; */
}

/*general titulos*/

.titulo{
    /* background-color: rgb(194, 62, 178); */
    padding-left: 10px;
    height: 6vh;
    align-content: center;
    transition: 0.5s padding ease-in;
}

article:hover > .titulo{
    padding-left: 30px;
}

.titulos_dos{
    padding: 10px;
}

.titulos_dos h3{
    font-size: 3vh;
}



.contenedor:hover > .titulos_dos p{
    font-size: 2vh;
    opacity: 1;
}


/* <!-- ARTICULO 1 --> */

/* <!-- TITULO TENDENCIAS --> */


/* <!-- TENDENCIAS --> */

/* <!-- TENDENCIA 1 --> */
#ten_1 {
    background-image: url(../img/ten_1.jpg);
}

/* <!-- TENDENCIA 2 --> */
#ten_2 {
    background-image: url(../img/ten_2.jpg);
}

/* <!-- TENDENCIA 3 --> */
#ten_3 {
    background-image: url(../img/ten_3.jpg);
}

/* <!-- ARTICULO 2 --> */

/* <!-- TITULO SERIES MAS VISTAS --> */

/* <!-- SERIES --> */

/* <!-- SERIE 1 --> */
#serie_1 {
    background-image: url(../img/serie_1.jpg);
}

/* <!-- SERIE 2 --> */
#serie_2 {
    background-image: url(../img/serie_2.jpg);
}

/* <!-- SERIE 3 --> */
#serie_3 {
    background-image: url(../img/serie_3.jpg);
}

/* <!-- ARTICULO 3 --> */

/* <!-- TITULO PELICULAS MAS VISTAS --> */

/* <!-- PELICULAS --> */

/* <!-- PELICULAS 1 --> */
#peli_1 {
    background-image: url(../img/peli_1.jpg);
}

/* <!-- PELICULAS 2 --> */
#peli_2 {
    background-image: url(../img/peli_2.jpg);
}

/* <!-- PELICULAS 3 --> */
#peli_3 {
    background-image: url(../img/peli_3.jpg);
}


/* <!-- FOOTER --> */

footer{
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 750px) {

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header_menu{
        flex: 1;
    }

    .contenedores{
        /* display: block; */
        flex-wrap: wrap;
        height: 80vh;
    }

    .contPrinc{
        width: 100%;
    }

    .contPrinc:hover{
        width: 100%;
    }

    /*navegador*/

    header{
        display: flex;
    }

    .header_menu{
        flex: 1;
        /* background-color: black; */
        
    }

    .no_menu{
        display: none;
    } 

    .nav_ocu{
        display: block;
        text-align: center;
    }

    #img_menu{
        cursor: pointer;
        width: 6vh;
        padding-left: 1vh;
    }

    #menu ul{
        flex-direction: column;
        position: fixed;
        top: 9vh;
        padding-left: 5px;
        gap:10px;
        background-color: #133945;
        align-items:start;
        height: 0;
        overflow: hidden;
        transition: 0.5s height ease-in-out;
        border-bottom-right-radius: 5px;
    }

    #img_menu:hover + ul{
        height: 24vh;
    }

    #esteUl:hover{
        height: 24vh;
    }

    #esteUl li{
        width: 20vw;
    }

    #logo1{
        width: 22vh;
    }

        /*textos*/
        #titulos1 h2{
            font-size: 5vh;
        }

        .cerrar{
            font-weight: bold;
        }
    
        #principal:hover > #titulos1 p{
            font-size: 2.8vh;
        }
    

}

@media screen and (max-width: 520px) {
    .contenedores{
        flex-direction: column;
        height: 100%;
        align-items: center;
        margin: 1vw;
    }

    .contenedor{
        width: 95%;
        margin-top: 2vw;
    }

    .contenedor:hover{
        width: 100%;
    }

    /*textos*/
    #titulos1 h2{
        font-size: 4vh;
    }

    #principal:hover > #titulos1 p{
        font-size: 2vh;
    }

}

